<label>
  Description
  <input type="text" name="invoice[description]">
</label>


<input type="text" name="invoice[items][][description]">
<input type="text" name="invoice[items][][quantity]">
<input type="text" name="invoice[items][][price]">

